<div class="exercise">

  <button *ngIf="!started" class="btn btn-default btn-lg active btn-start" (click)="start()">Начать упражнение</button>

  <div *ngIf="started && !completed" class="go">
    <span>Text</span>
    <input id="word" name="word" class="form-control" type="text" placeholder="Введите перевод"/>
    <button class="btn btn-default btn-lg active btn-check">Проверить</button>
    <div class="result">
      <span>Переведено слов </span>
      <b [innerText]="result"></b>
      <span> с ошибкой </span>
      <b [innerText]="error"></b>
    </div>
    <div class="timer">
      <span>Осталось </span>
      <b [innerText]="time"></b>
      <span> ceкунд</span>
    </div>
  </div>
  <div *ngIf="completed">
    <p>
      <span>Слов переведено: </span>
      <b [innerText]="result"></b>
    </p>
    <p>
      <span>С ошибкой: </span>
      <b [innerText]="error"></b>
    </p>
    <div *ngIf="error!=0">
      Слова для повторения
    </div>
  </div>
</div>
