.content {
  display: flex;
  max-width: 80vw;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.components {
  padding: 2rem;
  border: 1px dotted #888;
}
