.search-form {
    display:flex;
    max-width: 50vw;
}

#city {
    margin-right: 1em;
}

@media screen and (max-width: 800px) {
    .search-form {
        max-width: 100vw;
    }
}

@media screen and (max-width: 350px) {
    .search-form {
        flex-direction: column;
    }


    #city {
        margin-bottom: 0.5rem;
    }

}