.line {
    background-color: #7777;
    min-width: 40px;
    height: 0.25rem;
    width: 5rem;
    border-radius: 0.5rem;
    margin-left: 2px;
    margin-right: 2px;
    transition: background .15s ease-out;
    cursor: pointer;
}

.line:hover {
    background-color: #7e51d3;
}

.line-active {
    background-color: #61d2a5;
    height: 0.5rem;
    margin-top: -0.1rem;
}