<div class="row word">
  <div class="col-xs-6 col-md-4">
    {{dictionary.word | lowercase}}
  </div>

  <div *ngIf="!showTranslate" class="col-xs-6 col-md-4">
    *****************
  </div>

  <div *ngIf="showTranslate" class="col-xs-6 col-md-4">
    {{dictionary.translatedWord | lowercase}}
  </div>

  <button *ngIf="showTranslate" class="btn btn-default col-xs-5 col-md-4"
          (click)="showTranslate=!showTranslate"
  >Скрыть перевод
  </button>

  <button *ngIf="!showTranslate" class="btn btn-default col-xs-5 col-md-4"
          (click)="showTranslate=!showTranslate"
  >Показать перевод
  </button>
</div>

