.row-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.error {
  color: red;
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
