<form>
  <div class="form-group">
    <label for="native-language">Выберите ваш язык</label>
    <select id="native-language" class="form-control">
      <option>Русский</option>
      <option>Английский</option>
    </select>
  </div>
  <div class="form-group">
    <label for="lang-to-learn">Выберите изучаемый язык</label>
    <select id="lang-to-learn" class="form-control">
      <option>Русский</option>
      <option>Английский</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Сохранить настройки</button>
</form>
